body{
    background-image: url("xylo_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.div1
{
    margin-top: 150px;
}
.bnt1
{
    height:450px;
    width:75px;
    background-color: crimson;
    border-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9
{
    padding-right: 20px;
}
.bnt2
{
    height:400px;
    width:70px;
    background-color: orange;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.div3{
    margin-top: 25px;
}
.div4{
    margin-top: 45px;
}
.div5{
    margin-top: 65px;
}
.bnt3
{
    height:365px;
    width:65px;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.bnt4
{
    height:325px;
    width:60px;
    background-color: lightgreen;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.bnt5
{
    height:295px;
    width:55px;
    background-color: darkgreen;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.div6{
    margin-top: 85px;
}
.bnt6
{
    height:265px;
    width:50px;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.div7{
    margin-top: 105px;
}
.bnt7
{
    height:240px;
    width:45px;
    background-color: darkblue;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.div8{
    margin-top: 125px;
}
.bnt8
{
    height: 210px;
    width:40px;
    background-color: violet;
    border-radius: 20px;
    box-shadow: 5px 10px #8888;
}
.div9{
    margin-top: 145px;
}
.dot1 {
    height: 25px;
    width: 25px;
    margin-bottom:600%;
    margin-left: 20%;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
}
.dot2 {
    margin-left: 20%;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
  }

